.card-container {
    display: flex;
    width: 400px;
    min-width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fae351;
    border: #9879b0 10px solid;
    border-radius: 20px;
}

.card-container>canvas {
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
}

.button-container {
    display: flex;
    width: 350px;
    min-width: 250px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9879b0;
    border: solid 2px #000000;
    border-radius: 10px;
}

.button-container>input {
    width: 30px;
    font-size: 20px;
    margin: 3px;
    border-radius: 7px;
}

body {
    background-color: #c9eaf4;
}