.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #c9eaf4;
}

.flex-container {
    display: flex;
    width: 280px;
    min-width: 280px;
    height: 280px;
    margin: 30px;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: Black;
}

.flex-container>div {
    background-color: White;
    width: 36px;
    height: 36px;
    margin: 2px;
    text-align: center;
    line-height: 35px;
    font-size: 24px;
}

.flex-container2 {
    display: flex;
    width: 130px;
    min-width: 130px;
    height: 130px;
    margin: 30px;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #c9eaf4;
}

.flex-container2>div {
    background-color: #c9eaf4;
    width: 36px;
    height: 36px;
    margin: 0px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.bordered {
    border-style: solid;
    border-color: Grey
}

.unbordered {
    border-style: solid;
    border-color: #c9eaf4;
}

body {
    background-color: #c9eaf4;
}

.card-container {
    display: flex;
    width: 500px;
    min-width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fae351;
    border: #9879b0 10px solid;
    border-radius: 20px;
}

.card-container-lines {
    height: 50px;
}

.card-container1 {
    background-color: #000000;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
}

.card-container1>canvas {
    width: 10px;
    min-width: 100px;
    height: 10px;
    min-height: 100px;
}

.card-container2 {
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.card-container2>canvas {
    margin: 0px;
    padding: 0%;
    width: 90px;
}

.button-container {
    float: center;
    display: flex;
    width: 580px;
    min-width: 250px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9879b0;
    border: solid 2px #000000;
    border-radius: 10px;
}

.button-container>input {
    width: 30px;
    font-size: 20px;
    margin: 3px;
    border-radius: 7px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: 2px solid purple;
    outline: none;
    background-color: #9879b0;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    opacity: 50%;
}

#myBtn:hover {
    background-color: #555;
    opacity: 90%;
}